<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" monitorInterval="1800">
    <properties>
        <!--<property name="LOG_HOME">~/data/logs</property>-->
        <property name="FILE_NAME">webLog</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>-->
            <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>-->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{56}.%method:%L - %msg%n"/>
        </Console>

        <RollingRandomAccessFile name="RandomAccessFile"
                                 fileName="${sys:user.home}/logs/${FILE_NAME}.log"
                                 filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
            <!--<PatternLayout charset="UTF-8"-->
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss} %level [%thread][%file:%line] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <!--过滤掉spring和mybatis的一些无用的DEBUG信息-->
        <logger name="org.springframework" level="INFO"></logger>
        <logger name="org.quartz.core.QuartzSchedulerThread" level="INFO"></logger>
        <logger name="org.thymeleaf.TemplateEngine" level="DEBUG"></logger>
        <Logger name="com.test" level="debug"
                additivity="true">
            <AppenderRef ref="RandomAccessFile"/>
        </Logger>
        <Root level="debug" includeLocation="true">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>